$grid-item: 256px;
$one-frame: 1fr;
.container {
    font-family: "Roboto", sans-serif;
    margin: 100px 0 82px 0;
    display: grid;
    gap: 40px;
    //grid-auto-flow: column;
    justify-content: center;
    .header {
        font-size: 36px;
        font-weight: bold;
        text-align: center;
    }
    .price {
        font-weight: 700;
        font-size: 16px;
        line-height: 130%;
    }
    .parent {
        display: grid;
        grid-template-columns: repeat(4, $grid-item);
        grid-template-rows: repeat(4, $grid-item);
        grid-column-gap: 32px;
        grid-row-gap: 32px;
        color: white;
    }
    .div1 {
        background-image: url(./namibia.png);
        background-repeat: no-repeat;
        background-size: cover;
        grid-area: 1 / 1 / 2 / 2;
    }
    .div2 {
        background-image: url(./kenia.png);
        background-size: cover;
        grid-area: 1 / 2 / 2 / 3;
    }
    .div3 {
        background-image: url(./botswana.png);
        background-size: cover;
        grid-area: 2 / 1 / 3 / 2;
    }
    .div4 {
        background-image: url(./south-africa.png);
        background-size: cover;
        background-repeat: no-repeat;
        grid-area: 2 / 2 / 3 / 3;
    }
    .div5 {
        background-image: url(./safari.png);
        background-size: cover;
        background-repeat: no-repeat;
        grid-area: 1 / 3 / 3 / 5;
    }
    .div6 {
        background-image: url(./africa.png);
        background-size: cover;
        background-repeat: no-repeat;
        grid-area: 3 / 1 / 5 / 3;
    }
    .div7 {
        background-image: url(./capetown.png);
        background-size: cover;
        background-repeat: no-repeat;
        grid-area: 3 / 3 / 4 / 4;
    }
    .div8 {
        background-image: url(./sa.png);
        background-size: cover;
        background-repeat: no-repeat;
        grid-area: 3 / 4 / 4 / 5;
    }
    .div9 {
        background-image: url(./zanzibar.png);
        background-size: cover;
        background-repeat: no-repeat;
        grid-area: 4 / 3 / 5 / 4;
    }
    .div10 {
        background-image: url(./victoria.png);
        background-size: cover;
        background-repeat: no-repeat;
        grid-area: 4 / 4 / 5 / 5;
    }
    .small {
        padding: 20px 14px 20px 20px;
        display: grid;
        align-content: space-between;
        h2 {
            font-weight: 500;
            font-size: 18px;
            line-height: 130%;
            text-transform: uppercase;
        }
    }
    .large {
        padding: 20px 30px;
        display: grid;
        align-content: space-between;
        &__inner-text {
            display: grid;
            gap: 15px;
            .large-header {
                font-weight: 500;
                font-size: 24px;
                line-height: 130%;
                text-transform: uppercase;
            }
            .subtext {
                font-weight: 400;
                font-size: 16px;
                line-height: 130%;
            }
        }
    }
}