.container {
  font-family: "Roboto", sans-serif;
  margin: 100px 0 82px 0;
  display: -ms-grid;
  display: grid;
  gap: 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .header {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
}

.container .price {
  font-weight: 700;
  font-size: 16px;
  line-height: 130%;
}

.container .parent {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (256px)[4];
      grid-template-columns: repeat(4, 256px);
  -ms-grid-rows: (256px)[4];
      grid-template-rows: repeat(4, 256px);
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  color: white;
}

.container .div1 {
  background-image: url(./namibia.png);
  background-repeat: no-repeat;
  background-size: cover;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1 / 1 / 2 / 2;
}

.container .div2 {
  background-image: url(./kenia.png);
  background-size: cover;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 1 / 2 / 2 / 3;
}

.container .div3 {
  background-image: url(./botswana.png);
  background-size: cover;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 2 / 1 / 3 / 2;
}

.container .div4 {
  background-image: url(./south-africa.png);
  background-size: cover;
  background-repeat: no-repeat;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 2 / 2 / 3 / 3;
}

.container .div5 {
  background-image: url(./safari.png);
  background-size: cover;
  background-repeat: no-repeat;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: 1 / 3 / 3 / 5;
}

.container .div6 {
  background-image: url(./africa.png);
  background-size: cover;
  background-repeat: no-repeat;
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 3 / 1 / 5 / 3;
}

.container .div7 {
  background-image: url(./capetown.png);
  background-size: cover;
  background-repeat: no-repeat;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-area: 3 / 3 / 4 / 4;
}

.container .div8 {
  background-image: url(./sa.png);
  background-size: cover;
  background-repeat: no-repeat;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-area: 3 / 4 / 4 / 5;
}

.container .div9 {
  background-image: url(./zanzibar.png);
  background-size: cover;
  background-repeat: no-repeat;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-area: 4 / 3 / 5 / 4;
}

.container .div10 {
  background-image: url(./victoria.png);
  background-size: cover;
  background-repeat: no-repeat;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-area: 4 / 4 / 5 / 5;
}

.container .small {
  padding: 20px 14px 20px 20px;
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

.container .small h2 {
  font-weight: 500;
  font-size: 18px;
  line-height: 130%;
  text-transform: uppercase;
}

.container .large {
  padding: 20px 30px;
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

.container .large__inner-text {
  display: -ms-grid;
  display: grid;
  gap: 15px;
}

.container .large__inner-text .large-header {
  font-weight: 500;
  font-size: 24px;
  line-height: 130%;
  text-transform: uppercase;
}

.container .large__inner-text .subtext {
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
}
/*# sourceMappingURL=style.css.map */